
/* section.visual */
section.visual{background: #000; padding: 150px 0;}
section.visual .inner{ margin: auto;  position: relative;}
section.visual .inner .video{text-align: center;  width: 24%; position: relative; left: 50%; transform: translateX(-50%);}
section.visual .inner .video:after{position: absolute; content: ''; width: 100%; height: 100%; background: none; border: 1px solid #fff; top: -2%; left: -4%;}
section.visual .inner .video video{width: 100%;}
section.visual .inner .videoBox a{display: inline-block; width: 100%;}
section.visual .inner .videoBox a h2{font-size: 160px; font-weight: normal; font-style: italic; color: #fff; position: absolute; left: 50%; top: 50%; 
transform: translate(-50%, -50%);}
section.visual .inner .txt{color: #fff; position: absolute; right: -4%; top: 2%; transform: rotate(90deg);font-size: 16px;}
section.visual .inner .num{color: #fff; font-size: 20px; position: absolute; left:0; top: 47%; transform: rotate(90deg); font-weight: bold;}
section.visual .inner .img1{position: absolute;}
section.visual .inner .img2{position: absolute;}
section.visual .inner .txtBox{color: #fff; font-size: 14px; position: absolute; left: 0; bottom: 0%;}

/* 애니메이션 */
section.visual .inner.motion .video{animation-name: opacityAni; animation-duration: 1s;} 
@keyframes opacityAni{
    0%{opacity: 0;}
    50%{opacity: 0;}
}


section.visual .inner.motion h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(50ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}


section.visual .inner.motion .num{animation-name: opacityAni; animation-duration: 1s;}
section.visual .inner.motion .txt{animation-name: opacityAni; animation-duration: 1s;}
section.visual .inner.motion .txtBox{animation-name: opacityAni; animation-duration: 1s;}


section.visual .inner.motion .img1{animation: scrollVisual linear 3s infinite;}
@keyframes scrollVisual{
    0%{bottom: 55%; right: 0%;}
    50%{bottom: 54%; right: 1%;}
    100%{ bottom: 55%; right: 0%;}
}


section.visual .inner.motion .img2{animation: scrollVisual2 linear 3s infinite;}
@keyframes scrollVisual2{
    0%{bottom: 38%; right: 3%;}
    50%{bottom: 39%; right: 4%;}
    100%{ bottom: 38%; right: 3%;}
}


/* section.aboutMe */
section.aboutMe{ background: #000; padding: 150px 0; overflow: hidden;}
section.aboutMe .inner{margin: auto;}
section.aboutMe .inner .top{width: 100%; display: inline-block;}
section.aboutMe .inner .top p.img{position: relative; left: 10px; top: 10px; float: left; margin-right: 150px;}
section.aboutMe .inner .top p.img:after{position: absolute; width: 581px; height: 577px; content: ''; border: 1px solid #fff; left: -3%; top: -3%; background: none;}
section.aboutMe .inner .top h2{color: #fff; font-weight: normal; font-size: 70px; line-height: 1;}
section.aboutMe .inner .bottom{width: 36%; margin-top: 150px; display: inline-block; float: right;}
section.aboutMe .inner .bottom .txt{color: #fff; font-size: 14px; line-height: 1.8; margin-bottom: 50px;}
section.aboutMe .inner .bottom .box{background: #fff; width: 373px; height: 373px; position: relative; border-radius: 100%; margin-left: 20px;}
section.aboutMe .inner .bottom .box:after{position: absolute; width: 373px; height: 373px; background: none; border: 1px solid #fff; border-radius: 100%;
left: 5%; top: 1%; content: '';} 
section.aboutMe .inner .bottom .box .txtBox{width: 100%; height: 100%; position: absolute; left: 18%; top: 33%;}
section.aboutMe .inner .bottom .box .txtBox .info span{font-weight: bold; font-size: 18px; width: 25%; display: inline-block;}
section.aboutMe .inner .bottom .box .txtBox .info{font-size: 16px; margin-bottom: 15px;}

/* 애니메이션 */
section.aboutMe .inner.motion .top p.img{animation-name: opacityAni; animation-duration: 0.5s;}
section.aboutMe .inner.motion .top p.img:after{animation-name: opacityAni2; animation-duration: 0.7s;}
@keyframes opacityAni2{
    0%{opacity: 0;}
    30%{opacity: 0;}
    60%{opacity: 0;}
}

section.aboutMe .inner.motion .top h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(40ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.aboutMe .inner.motion .bottom .txt{animation-name: opacityAni; animation-duration: 0.6s;}
section.aboutMe .inner.motion .bottom .box{animation-name: opacityAni2; animation-duration: 0.7s;}

/* section.timeLine */
section.timeLine{padding: 150px 0; box-sizing: border-box; }
section.timeLine .inner{width: 100%; margin: 0 auto;}
section.timeLine .inner h2{font-size: 240px; font-style: italic; opacity: 21%; font-weight: normal; background: #fff;}
section.timeLine .inner .txtBox1{position: absolute; left: 5%; bottom: 15%; z-index: 1;}
section.timeLine .inner .txtBox1:after{position: absolute; content: ''; width: 1px; height: 30px; background: #1d1d1d; left: 50%; bottom: -30px; transform: translateX(-50%); opacity: 60%;}
section.timeLine .inner .txtBox1:before{position: absolute; content: ''; width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%;
  left: 50%; bottom: -40px; transform: translateX(-50%); }
section.timeLine .inner .txtBox2{position: absolute; left: 18%; bottom: 20%;}
section.timeLine .inner .txtBox2:after{position: absolute; content: ''; width: 1px; height: 60px; background: #1d1d1d;left: 50%; top: -60px; transform: translateX(-50%); opacity: 60%;}
section.timeLine .inner .txtBox2:before{position: absolute; content: ''; width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%;
  left: 50%; top: -70px; transform: translateX(-50%);}
section.timeLine .inner .txtBox3{position: absolute; left: 22%; bottom: 43%;}
section.timeLine .inner .txtBox3:after{position: absolute; content: ''; width: 1px; height: 40px; background: #1d1d1d; left: 50%; bottom: -40px; transform: translateX(-50%);opacity: 60%;}
section.timeLine .inner .txtBox3:before{position: absolute; content: ''; width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%; 
  left: 50%; bottom: -50px; transform: translateX(-50%); }
section.timeLine .inner .txtBox4{position: absolute; left: 38%; bottom: 49%;}
section.timeLine .inner .txtBox4:after{position: absolute; content: '';  width: 1px; height: 60px; background: #1d1d1d; left: 50%; bottom: -60px; transform: translateX(-50%); opacity: 60%;}
section.timeLine .inner .txtBox4:before{position: absolute; content: '';  width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%;
  left: 50%; bottom: -70px; transform: translateX(-50%);}
section.timeLine .inner .txtBox5{position: absolute;  left: 50%; bottom: 64%;}
section.timeLine .inner .txtBox5:after{position: absolute; content: '';  width: 1px; height: 30px; background: #1d1d1d;  left: 50%; bottom: -30px; transform: translateX(-50%); opacity: 60%;}
section.timeLine .inner .txtBox5:before{position: absolute; content: '';  width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%;
  left: 50%; bottom: -40px; transform: translateX(-50%);}
section.timeLine .inner .txtBox6{position: absolute; left: 66%; bottom: 51%;}
section.timeLine .inner .txtBox6:after{position: absolute; content: '';  width: 1px; height: 60px; background: #1d1d1d;  left: 50%; top: -60px; transform: translateX(-50%); opacity: 60%;}
section.timeLine .inner .txtBox6:before{position: absolute; content: '';  width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%;
  left: 50%; top: -70px; transform: translateX(-50%);}
section.timeLine .inner .txtBox7{position: absolute; right: 10%; top: 19%;}
section.timeLine .inner .txtBox7:after{position: absolute; content: '';  width: 1px; height: 30px; background: #1d1d1d;  left: 50%; bottom: -30px; transform: translateX(-50%); opacity: 60%;}
section.timeLine .inner .txtBox7:before{position: absolute; content: '';  width: 10px; height: 10px; background: #1d1d1d; border-radius: 100%;
  left: 50%; bottom: -40px; transform: translateX(-50%);}
section.timeLine .inner .tit{font-weight: 700; font-size: 20px; margin-bottom: 5px; font-style: italic;}
section.timeLine .inner .txt{font-size: 16px; line-height: 1.5;}


/* 애니메이션 */
/* section.timeLine .inner.motion .txtBox1:before{animation-name: circleAni; animation-duration: 1.5s; animation-iteration-count: infinite; }
@keyframes circleAni{
    100%{opacity: 0; transform: scale(1.5);}
}
section.timeLine .inner.motion .txtBox2:before{animation-name: circleAni; animation-duration: 1.5s; animation-iteration-count: infinite;}
section.timeLine .inner.motion .txtBox3:before{animation-name: circleAni; animation-duration: 1.5s; animation-iteration-count: infinite;}
section.timeLine .inner.motion .txtBox4:before{animation-name: circleAni; animation-duration: 1.5s; animation-iteration-count: infinite;} */

section.timeLine .inner.motion .txtBox1:after{animation-name: heightAni; animation-duration: 1s;}
@keyframes heightAni{
    0%{height: 0;}
}
section.timeLine .inner.motion .txtBox2:after{animation-name: heightAni; animation-duration: 1s;}
section.timeLine .inner.motion .txtBox3:after{animation-name: heightAni; animation-duration: 1s;}
section.timeLine .inner.motion .txtBox4:after{animation-name: heightAni; animation-duration: 1s;}

section.timeLine .inner.motion .tit, .txt{animation-name: opacityAni; animation-duration: 0.7s;}

section.timeLine .inner.motion h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(50ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

/* svg */
.timelineBox{
  position: relative;
  width: 100%;
  height: 900px;
  border: 1px solid #ddd;
}
.timelineBox .bgBox{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
}
.timeLine1{display: block; z-index: -1; opacity: 70%;}
.timeLine1 .svgAni path {fill:none; stroke:#1d1d1d; stroke-width: 0.5px; stroke-dasharray: 2428; stroke-dashoffset: 0;}
/* 각각 위치 잡아주기 */
section.timeLine .inner .timeLine1 svg {width: 100%; height: 100%; position: absolute; left: 0; top:0;}

/* SVG 애니메이션 */
.timeLine1 .svgAni path {animation-name: dash; animation-duration: 2s;}
@keyframes dash {
    0% {stroke-dashoffset: 2428;}
    100% {stroke-dashoffset: 0;}
}  
.timeLine1 {animation: scroll1 linear 3s infinite;}
@keyframes scroll1{
    0%{top: 70%;}
    50%{top: 71%;}
    100%{top: 70%;}
}

/* svg */
.timeLine2{display: block; z-index: -1; opacity: 70%;}
.timeLine2 .svgAni path {fill:none; stroke:#1d1d1d; stroke-width: 0.5px; stroke-dasharray: 2465; stroke-dashoffset: 0;}
/* 각각 위치 잡아주기 */
section.timeLine .inner .timeLine2 svg{ width: 100%; height: 100%;  position: absolute; left: 0; top:0;}

/* SVG 애니메이션 */
.timeLine2 {animation: scroll2 linear 3s infinite;}
@keyframes scroll2{
    0%{top: 70%;}
    50%{top: 69%;}
    100%{top: 70%;}
}

/* section.skill */
section.skill{padding: 300px 0; box-sizing: border-box; position: relative;}
section.skill .inner{width: 100%; margin: 0 auto; overflow: hidden;}
section.skill .inner .titBox{ text-align: center; margin: 0px 0 100px 0;}
section.skill .inner .titBox h2{font-size: 80px; margin-bottom: 10px;}
section.skill .inner .titBox p{font-size: 20px;}
section.skill .inner .skills{ width: 100%; overflow: hidden; display: flex; align-items: flex-start; justify-content: space-between;}

.skills .skill{width: 22%; box-sizing: border-box; padding: 5px;}
.skills .skill h3{font-weight: bold; font-size: 25px; border-bottom: 1px solid #8a8a8a; box-sizing: border-box; padding-bottom: 15px; margin-bottom: 25px;}
.skills .skill .imgBox {display: flex; flex-wrap: wrap; gap: 10px;}
.skills .skill .img {width: 63px; height: 63px; background: #fff; border-radius: 15px; box-shadow: 0px 0px 9px #00000025;display: flex; align-items: center; justify-content: center;}

.skills{animation: opacityAni 1.4s; }
@keyframes opacityAni{
  0%{opacity: 10%;}
  100%{opacity: 100%;}
}

/* svg */
.lineBox1{display: block;  opacity: 40%;}
.lineBox1 .svgAni path {fill:none; stroke:#1d1d1d; stroke-width: 0.5px; stroke-dasharray: 2030; stroke-dashoffset: 0;}
/* 각각 위치 잡아주기 */
section.skill .lineBox1 {position: absolute; width: 100%; left: 0; top: 0;}

/* SVG 애니메이션 */
.lineBox1.motion .svgAni path {animation-name: dash; animation-duration: 1.2s;}
@keyframes dash {
    0% {stroke-dashoffset: 2030;}
    100% {stroke-dashoffset: 0;}
} 

/* svg */
.lineBox2{display: block;  opacity: 40%;}
.lineBox2 .svgAni path {fill:none; stroke:#1d1d1d; stroke-width: 0.5px; stroke-dasharray: 2021; stroke-dashoffset: 0;}
/* 각각 위치 잡아주기 */
section.skill .lineBox2 {position: absolute; width: 100%; left: 0; top: 0;}

/* SVG 애니메이션 */
.lineBox2.motion .svgAni path {animation-name: dash; animation-duration: 0.7s;}
@keyframes dash {
    0% {stroke-dashoffset: 2021;}
    100% {stroke-dashoffset: 0;}
} 

/* svg */
.lineBox3 {display: block; opacity: 40%;}
.lineBox3 .svgAni path {fill:none; stroke:#1d1d1d; stroke-width: 0.5px; stroke-dasharray: 2030; stroke-dashoffset: 0;}
/* 각각 위치 잡아주기 */
section.skill .lineBox3 {position: absolute; width: 100%; left: 0; bottom: 0%;}

/* SVG 애니메이션 */
.lineBox3.motion .svgAni path {animation-name: dash; animation-duration: 1.2s;}
@keyframes dash {
    0% {stroke-dashoffset: 2030;}
    100% {stroke-dashoffset: 0;}
} 

/* svg */
.lineBox4{display: block; opacity: 40%;}
.lineBox4 .svgAni path {fill:none; stroke:#1d1d1d; stroke-width: 0.5px; stroke-dasharray: 2010; stroke-dashoffset: 0;}
/* 각각 위치 잡아주기 */
section.skill .lineBox4 {position: absolute; width: 100%; left: 0; bottom: 0%;}

/* SVG 애니메이션 */
.lineBox4.motion .svgAni path {animation-name: dash; animation-duration: 0.7s;}
@keyframes dash {
    0% {stroke-dashoffset: 2010;}
    100% {stroke-dashoffset: 0;}
} 

section.skill .inner .titBox.motion h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(50ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.skill .inner .titBox.motion p.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

/* section.ncs */
section.ncs{padding: 200px 0 200px 0;}
section.ncs .inner{ margin: 0 auto; position: relative; width: 1400px;}
section.ncs .inner .box{ background: #191919; width: 592px; height: 1266px; padding: 230px 50px; box-sizing: border-box;}
section.ncs .inner .box:after{position: absolute; content: ''; width: 592px; height: 1266px; border: 1px solid #000; left: -23px; top: 20px; z-index: -1;}
section.ncs .inner .box:before{position: absolute; content: ''; width: 569px; height: 1246px;  border: 1px solid #fff; left: 0px; top: 20px;}
section.ncs .inner h2{ font-size: 80px; color: #fff; font-weight: normal; line-height: 1; position: absolute; left: 50px; top: 200px;}
section.ncs .inner h2 a{ width: 100%; height: 100%;}
section.ncs .inner h2 a span{font-size: 35px; margin-left: 15px; display: inline-block;}
section.ncs .inner .slideBox{ position: absolute; width: 1200px;  height: 526px; left: 0; top: 35%;}
section.ncs .inner .slideBox:after{position: absolute; content: ''; background: #fff; width: 474px; height: 1px; left: 4%; top: -3%;}
section.ncs .inner .slideBox:before{position: absolute; content: ''; background: #fff; width: 474px; height: 1px; left: 4%; bottom: -6%;}
section.ncs .inner .slideBox .slide{position: relative; color: #fff; width: 1500px;}
section.ncs .inner .slideBox .slide li{width: 100%;}
section.ncs .inner .slideBox .slide li .img{width: 889px; height: 580px; position: absolute; left: 37%; margin-top: 20px; }
section.ncs .inner .slideBox .slide li .img a{width: 100%; height: 100%;}
section.ncs .inner .slideBox .slide li .img a img{width: 100%; filter: drop-shadow(20px 0px 10px #ccc); transition: all 0.3s;}
section.ncs .inner .slideBox .slide li .txt{font-size: 20px; position: absolute; left: 7%; margin-top: 16%; width: 350px; text-align: center;}

.arrowSlide{ position: absolute; color: #fff; font-size: 20px; left: 36%; top:93%; }
.arrowSlide .slick-prev{position: relative; line-height: 45px; cursor: pointer;}
.arrowSlide .slick-prev:after{position: absolute; width: 45px; height: 45px; content: ''; border: 1px solid #fff; border-radius: 100%; left: -18px; }
.arrowSlide .slick-next{margin-left: 45px; position: relative; line-height: 45px; cursor: pointer;}
.arrowSlide .slick-next:after{position: absolute; width: 45px; height: 45px; content: ''; border: 1px solid #fff; border-radius: 100%; left: -18px;}

.custom_paging .slick-active{ display: inline; position: absolute; left: 4%; top: -3%; font-family: 'DM Serif Display', serif; font-size: 26px;}
.custom_paging li{display: none;}

/* hover */
section.ncs .inner .slideBox .slide li .img a:hover img{filter: drop-shadow(20px 0px 15px #ccc); transition: all 0.1s;}

/* 애니메이션 */
section.ncs .inner.motion h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(50ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.ncs .inner.motion .box:after, section.ncs .inner .box:before{animation-name: opacityAni; animation-duration: 0.5s;}

section.ncs .inner.motion h2:hover a span{animation-name: next; animation-duration: 0.8s; animation-iteration-count: infinite;}
@keyframes next{
    0%{transform: translateX(0%);}
    50%{transform: translateX(30%);}
}

section.ncs .inner.motion .slideBox {animation-name: opacityAni; animation-duration: 0.5s;}