
/* section.visual */
section.visual{background: #000; padding: 150px 0;}
section.visual .inner{ margin: auto;  position: relative;}
section.visual .inner .video{text-align: center;  width: 24%; position: relative; left: 50%; transform: translateX(-50%);}
section.visual .inner .video:after{position: absolute; content: ''; width: 100%; height: 100%; background: none; border: 1px solid #fff; top: -2%; left: -4%;}
section.visual .inner .video video{width: 100%;}
section.visual .inner .videoBox a{display: inline-block; width: 100%;}
section.visual .inner .videoBox a h2{font-size: 160px; font-weight: normal; font-style: italic; color: #fff; position: absolute; left: 50%; top: 50%; 
transform: translate(-50%, -50%);}
section.visual .inner .txt{color: #fff; position: absolute; right: -2%; top: 2%; transform: rotate(90deg);font-size: 16px;}
section.visual .inner .num{color: #fff; font-size: 20px; position: absolute; left:0; top: 47%; transform: rotate(90deg); font-weight: bold;}
section.visual .inner .txtBox{color: #fff; font-size: 14px; position: absolute; left: 0; bottom: 0%;}

/* 애니메이션 */
section.visual .inner.motion .video{animation-name: opacityAni; animation-duration: 1s;} 
@keyframes opacityAni{
    0%{opacity: 0;}
    50%{opacity: 0;}
}

section.visual .inner.motion .videoBox a h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.7s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}


section.visual .inner.motion .num{animation-name: opacityAni; animation-duration: 1s;}
section.visual .inner.motion .txt{animation-name: opacityAni; animation-duration: 1s;}
section.visual .inner.motion .txtBox{animation-name: opacityAni; animation-duration: 1s;}


/* section.contents */
section.contents{padding: 150px 0;}
section.contents .inner{margin: auto; overflow: hidden;}
section.contents .inner .txtBox{float: left; width: 50%; margin-top: 150px;}
section.contents .inner .txtBox h2{font-weight: normal; font-size: 50px; font-style: italic; margin-bottom: 30px;}
section.contents .inner .txtBox .txt{font-size: 18px; line-height: 1.7;}
section.contents .inner .slideShow{ width: 50%; float: right; overflow: hidden; height: 540px; position: relative;}
section.contents .inner .slideShow .slide{width: 100%; height: 100%;}
section.contents .inner .slideShow .slide li{width: 100%; height: 100%; float: left;}
section.contents .inner .slideShow .slide li img{width: 100%; height: 100%;}


.slick-prev{position: absolute; left: 2%; top: 50%; transform: translateY(-50%); font-size: 30px; z-index: 1; cursor: pointer;}
.slick-next{position: absolute; right: 2%; top: 50%; transform: translateY(-50%); font-size: 30px; z-index: 1; cursor: pointer;}

/* 애니메이션 */
section.contents .inner .txtBox.motion h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

/* section.project_carrer */
section.project_career{padding: 150px 0; background: #fff; box-sizing: border-box; overflow: hidden;}
section.project_career .inner{margin: auto; width: 1300px; position: relative;}
section.project_career .inner h2{font-weight: normal; font-size: 100px; position: absolute; left: 0%; line-height: 1.0;}
section.project_career .inner ul{width: 100%;}
section.project_career .inner ul li:nth-child(even){float: left; margin-bottom: 300px;}
section.project_career .inner ul li:nth-child(odd){float: right; margin-bottom: 300px;}
section.project_career .inner ul li:nth-child(2){margin-top: 600px;}
section.project_career .inner ul li:last-child{margin-bottom: 0;}
section.project_career .inner ul li a{width: 100%; height: 100%; display: block; }
section.project_career .inner ul li a p.img{width: 581px; height: 777px; position: relative; border: 1px solid #eee;}
section.project_career .inner ul li a p.img:after{position: absolute; width: 100%; height: 100%; background: #000; left: 0; top: 0; content: ''; opacity: 0; transition: all 0.4s;}
section.project_career .inner ul li a p.img:before{position: absolute; content: 'Go to see it'; font-size: 30px; z-index: 1; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #fff; font-weight: bold; text-align: center;  opacity: 0; }
section.project_career .inner ul li a p.img img{width: 100%; height: 100%;}
section.project_career .inner ul li a .txt{font-size: 15px;  margin-top: 10px;}

/* 호버 */
section.project_career .inner ul li a:hover p.img:after{opacity: 70%;}
section.project_career .inner ul li a:hover p.img:before{opacity: 100%; transition: all 0.3s;}

/* 애니메이션 */
section.project_career .inner h2.motion.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(30ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.project_career .inner ul li.motion a {animation-name: slideUp; animation-duration: 0.4s;}
@keyframes slideUp{
    0%{opacity: 0; }
    30%{opacity: 0; transform: translateY(20px);}
}

/* section.cloneCoding */
section.cloneCoding{padding: 150px 0; background: #000; box-sizing: border-box; overflow: hidden;}
section.cloneCoding .inner{margin: auto; width: 1300px;}
section.cloneCoding .inner h2{color: #fff; font-weight: normal; font-size: 100px; position: absolute; left: 54%; line-height: 1.0;}
section.cloneCoding .inner ul{width: 100%;}
section.cloneCoding .inner ul li:nth-child(odd){float: left; margin-bottom: 300px;}
section.cloneCoding .inner ul li:nth-child(even){float: right; margin-bottom: 300px;}
section.cloneCoding .inner ul li:nth-child(2){margin-top: 600px;}
section.cloneCoding .inner ul li:last-child{margin-bottom: 0;}
section.cloneCoding .inner ul li a{width: 100%; height: 100%; display: block; }
section.cloneCoding .inner ul li a p.img{width: 581px; height: 777px; position: relative; }
section.cloneCoding .inner ul li a p.img:after{position: absolute; width: 100%; height: 100%; background: #fff; left: 0; top: 0; content: ''; opacity: 0; transition: all 0.4s;}
section.cloneCoding .inner ul li a p.img:before{position: absolute; content: 'Go to see it'; font-size: 30px; z-index: 1; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #1d1d1d; font-weight: bold; text-align: center;  opacity: 0; }
section.cloneCoding .inner ul li a p.img img{width: 100%; height: 100%;}
section.cloneCoding .inner ul li a .txt{color: #fff; font-size: 15px;  margin-top: 10px;}

/* 호버 */
section.cloneCoding .inner ul li a:hover p.img:after{opacity: 90%;}
section.cloneCoding .inner ul li a:hover p.img:before{opacity: 90%; transition: all 0.3s;}

/* 애니메이션 */
section.cloneCoding .inner h2.motion.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(30ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.cloneCoding .inner ul li.motion a {animation-name: slideUp; animation-duration: 0.4s;}
@keyframes slideUp{
    0%{opacity: 0; }
    30%{opacity: 0; transform: translateY(20px);}
}
