
.logo{ display: inline-block; position: absolute; top: 7%; left: 4%; float: left; position: fixed; }
.logo a{width: 100%; height: 100%; display: block;}
.logo a img{width: 120px;}
.titBox{float: left; width: 60%; display: inline-block; position: absolute; top: 29%; left: 10%; position: fixed;}
.titBox h2{font-weight: normal; font-size: 70px; margin-bottom:5px;}
.titBox .txt{font-size: 18px; margin-left: 30px; margin-bottom: 120px;}
.titBox .keyword{ font-size: 18px; margin-bottom: 30px;}
.titBox .keyword:nth-child(4){margin-bottom: 100px;}
.titBox .keyword span{font-weight: bold; margin-right: 50px;}
.titBox ul{overflow: hidden;}
.titBox ul li{float: left; font-size: 15px; margin-right: 30px; text-align: center; background: #fff; width: 97px; height: 53px; line-height: 53px;
color: #000; border-radius: 40px; margin-bottom: 5px;}
.titBox ul li a{width: 100%; height: 100%; display: block;}
.titBox .prev{ font-size: 30px; margin-top: 215px; margin-right: 50px; position: absolute; left: -8%; bottom: -38%;}
.titBox .prev span{margin-right: 5px; font-weight: bold;}
.titBox .next{ font-size: 30px; margin-top: 215px; position: absolute; right: 6%; bottom: -38%;}
.titBox .next span{margin-left: 5px; font-weight: bold;}
.right{float: right; }

/* 호버 */
.titBox ul li a:hover{color: #fff; background: #000; border-radius: 40px; border: 1px solid #fff;}

/* 애니메이션 */
.titBox h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

.titBox{animation-name: opacityAni; animation-duration: 0.3s;}
@keyframes opacityAni{
    0%{opacity: 0;}
}



::-webkit-scrollbar {width: 12px;} 
::-webkit-scrollbar-track {background: #f7f7f7; border-radius: 0px;}
::-webkit-scrollbar-thumb {background: #000; border-radius: 50px;}