@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Nanum+Gothic&display=swap');

/* reset */
* {margin: 0;padding: 0; line-height: 1.5;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

body {font-family: 'Nanum Gothic', sans-serif; font-size: 16px; color: #1d1d1d; overflow-x: hidden;}
.en{font-family: 'DM Serif Display', serif; color: #1d1d1d;}
.inner{max-width: 1678px;}

header{width: 100%; position: fixed; z-index: 100;}
.innerHeader{height: 150px;  margin: auto; width: 88%; display: flex; align-items: center; justify-content: space-between;}
.innerHeader .logo{float: left;}
.innerHeader .logo a{width: 100%; height: 100%;}
.innerHeader .logo a img{width: 120px;}
.innerHeader .logo a img:nth-child(2){opacity: 0;}
.menuOpen{float: right;}
button.open{background: none; border: none; cursor: pointer;}
button.open img:nth-child(2){display: none;}

/* fixheader */
header.on .innerHeader .logo a img:nth-child(1){display: none;}
header.on .innerHeader .logo a img:nth-child(2){opacity: 1; width: 120px;}
header.on button.open img:nth-child(1){display: none;}
header.on button.open img:nth-child(2){display: inline-block;}
header.on2{display: none;}

/* menuOpen */
.menuOpen .menuWrap{width: 100%; height: 100%; position: fixed; top: 0; right: 0; z-index: 200; background: #000;}
.menuOpen .menuWrap .box{ width: 48%;  position: absolute; left: 50%; top: 50%; transform: translate(-50%,-46%);}
.menuOpen .menuWrap .box ul{color: #fff; float: left; width: 45%;text-align: right; line-height: 4;}
.menuOpen .menuWrap .box ul li a{width: 100%; height: 100%; font-size: 50px; position: relative; line-height: 4;}
.menuOpen .menuWrap .box ul li a:before{position: absolute; width: 0%; height: 1px; content: ''; background: #fff; left: 0; bottom: 0;transition: all 0.3s;}
.menuOpen .menuWrap .box ul li a:hover:before{width: 100%; transition: all 0.3s;}
.menuOpen .menuWrap .box ul li:nth-child(1) a{margin-right: 60px; line-height: 0;}
.menuOpen .menuWrap .box ul li:nth-child(2) a{margin-right: 130px;}
.menuOpen .menuWrap .box ul li:nth-child(3) a{margin-right: 160px;}
.menuOpen .menuWrap .box ul li:nth-child(4) a{margin-right: 0;}
.menuOpen .menuWrap .box ul .sub{font-size: 25px; display: block; line-height: 0; margin-top: -45px; text-decoration: none; margin-left: -80px; width: 100%; height: 100%;}
.menuOpen .menuWrap .box ul .sub:before{display: none;}
.menuOpen .menuWrap .box p.img{ float: right; margin-top: 200px; margin-right: 60px;}
.menuOpen .menuWrap .box p.img img{ width: 100%;}
.menuOpen .menuWrap .close img{position: absolute; right: 5%; top: 5%;}

/* .menuWrap 열기 */
/*---  js파일: 햄버거 메뉴 ---*/
.menuOpen .menuWrap {width: 0; transition: 0.5s; overflow: hidden; transform: skewY(40deg); opacity: 0; }
.menuOpen .menuWrap.on {width: 100%; right: 0;  transform: skewY(0deg); transition: 0.5s; opacity: 1; }
.menuOpen .menuWrap ul {display: none} /* 메뉴 열었을때 애니 진행위해서 없애줌 */
.menuOpen .menuWrap.on ul {display: block;}


/* footer */
footer{width: 100%; background: #000; color: #fff; padding: 50px 0;}
footer .inner{margin: 0 auto; overflow: hidden;}
footer .inner .top{ width: 100%; margin-bottom: 300px; overflow: hidden;}
footer .inner .top .logo{display: inline-block; float: left; margin-right: 30%;}
footer .inner .top .logo a{width: 120px; height: 100%; display: block;}
footer .inner .top .logo a img{width: 100%; margin-top: 15px;}
footer .inner .top .info{float: left;margin: 20px 150px 0 0;}
footer .inner .top .info .tit{font-size: 18px; font-weight: bold; margin-bottom: 10px;}
footer .inner .top .info .txt{font-size: 18px;}
footer .inner .top .menu{float: right; text-align: right; color: #fff;}
footer .inner .top .menu a{width: 100%; height: 100%; display: block; font-size: 35px; transition: all 0.3s;}
footer .inner .copyRight{font-size: 13px; display: inline; width: 100%; color: #ccc;}

/* 호버 */
footer .inner .top .menu a:hover{transform: translateX(-15px); transition: all 0.3s;}

::-webkit-scrollbar {width: 12px;} 
::-webkit-scrollbar-track {background: #f7f7f7; border-radius: 0px;}
::-webkit-scrollbar-thumb {background: #000; border-radius: 50px;}