
/* section.visual */
section.visual{background: #000;   position: relative;}
section.visual .inner{ margin: auto;  position: relative;}
section.visual .txtBox{text-align: center; padding: 300px 0; box-sizing: border-box;}
section.visual .txtBox a{display: inline-block;}
section.visual .txtBox:before{position: absolute; content: ''; width: 642px; height: 546px; background: none; border: 1px solid #fff; left: 50%; top: 50%;
transform: translate(-50%,-50%);}
section.visual .txtBox h2{font-size: 140px; font-style: italic;  color: #fff; font-weight: normal; margin-bottom: 20px;}
section.visual .txtBox p{font-size: 20px;  color: #fff; line-height: 1.6s;}
section.visual .txt{color: #fff; position: absolute; content: ''; right: -2%; top: 16%; transform: rotate(90deg);font-size: 16px;}

/* 애니메이션 */

section.visual .txtBox.motion h2.splitting .char{ 
    display: inline-block; animation: slide-up2 0.5s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.visual .txtBox.motion p.splitting .char{ 
    display: inline-block; animation: slide-up2 0.3s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(20ms * var(--char-index));
}
@keyframes slide-up2{
    0%{transform: translateY(30px); opacity: 0;}
    30%{transform: translateY(30px); opacity: 0;}
}

section.visual .txt.motion{animation-name: opacityAni; animation-duration: 0.7s;}
@keyframes opacityAni{
    0%{opacity: 0;}
}

section.visual .txtBox:before{animation-name: opacityAni; animation-duration: 0.7s;}

/* section.contents */
section.contents .box{margin-bottom: 400px; width: 100%; display: inline-block;}
section.contents .box .left{float: left; width: 30%; margin: 25% 0 0 6%; position: relative;}
section.contents .box .left:after{position: absolute; content: ''; width: 346px; height: 0.5px; background: #707070; left: 12%; top: 50%;}
section.contents .box .left h2{font-size: 140px; font-weight: normal;}
section.contents .box .left .txt{font-size: 25px; position: absolute; left: 12%; top: 60%; line-height: 1.4;}
section.contents .box .img{float: right; width: 55%; overflow: hidden;}
section.contents .box .img img{width: 100%; transition: all 0.3s; }
section.contents .box:nth-child(2) .left{float: right; margin: 25% 6% 0 0; text-align: right;}
section.contents .box:nth-child(2) .left:after{left: 22%; top: 50%;}
section.contents .box:nth-child(2) .left .txt{left: 46%; top: 60%;}
section.contents .box:nth-child(2) .img{float: left;}
section.contents .box:nth-child(3) .left:after{left: 16%;}
section.contents .box:nth-child(3) .left .txt{left: 16%;}
section.contents .box:nth-child(3) .img{width: 857px; position: relative; overflow: visible;}
section.contents .box:nth-child(3) .img:after{position: absolute; content: ''; background: url(../img/ncs03-1.png); left: -26%; top: 65%; width: 402px; height: 398px; transition: all 0.5s;}
section.contents .box:nth-child(4) .left{float: right; margin: 25% 6% 0 0; text-align: right;}
section.contents .box:nth-child(4) .left:after{left: 24%; top: 50%;}
section.contents .box:nth-child(4) .left .txt{left: 58%; top: 60%;}
section.contents .box:nth-child(4) .img{float: left;}
section.contents .box:nth-child(5) .left:after{left: 15%;}
section.contents .box:nth-child(5) .left .txt{left: 15%;}

/* 호버 */
section.contents .box .img:hover img{transform: scale(1.1); transition: all 0.4s;}
section.contents .box:nth-child(3) .img:hover img{transform: scale(1);}
section.contents .box:nth-child(3) .img:hover:after{transform: translateX(30px); transition: all 0.5s;}

/* 애니메이션 */
section.contents .box.motion .left h2 {animation-name: opacityAni; animation-duration: 0.5s;}

section.contents .box.motion .left:after{animation: withAni; animation-duration: 0.5s;}
@keyframes withAni{
    0%{width: 0;}
}

section.contents .box.motion .left .txt{animation-name: slideAni; animation-duration: 0.5s;}
@keyframes slideAni{
    0%{transform: translateX(50px); opacity: 0;}
}


section.contents .box.motion .img{animation-name: slideAni2; animation-duration: 0.5s;}
@keyframes slideAni2{
    0%{transform: translateX(50px); opacity: 0;}
    50%{opacity: 0;}
}

section.contents .box:nth-child(2).motion .img,section.contents .box:nth-child(4).motion .img{animation-name: slideAni3; animation-duration: 0.5s;}
@keyframes slideAni3{
    0%{transform: translateX(-50px); opacity: 0;}
    50%{opacity: 0;}
}

section.contents .box:nth-child(1).motion .left .txt,section.contents .box:nth-child(3).motion .left .txt,section.contents .box:nth-child(5).motion .left .txt{animation-name: slideAni3; animation-duration: 0.5s;}


@media screen and (max-width: 768px) { /* 모바일 */
  section.visual .inner .txtBox{
    display: inline-block !important;
    padding: 150px 10px;
  }
  section.visual .txtBox h2{
    font-size: 2rem;
  }
  section.visual .txtBox p{
    font-size: 13px;
  }
  section.visual .txtBox:before{
    width: 100%;
    height: 50%;
  }
  section.contents .box{
    overflow: hidden;
    margin-bottom: 0px;
  }
  section.contents .box .img{
    width: 100%;
    float: none;
  }
  section.contents .box .left{
    float: none;
    width: 100%;
    margin:0;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  section.contents .box .left h2 {
    font-size: 3rem;
    display: inline-block;
  }
  section.contents .box .left:after{
    display: none;
  }
  section.contents .box .left .txt{
    position: static;
    font-size: 1rem;
    display: inline-block;
  }
  section.contents .box:nth-child(2) .left{
    margin: 0;
  }
  section.contents .box:nth-child(4) .left{
    margin: 0;
  }
  section.contents .box:nth-child(3) .img{
    width: 100%;
  }
  section.contents .box:nth-child(even) .left{
    justify-content: flex-end;
  }
}